.cap {
	max-width: 1500px;
	padding-right: 20px !important;
	padding-left: 20px !important;
	margin: 0 auto;
	@media screen and (min-width: $midwidth){
		padding-right: 8% !important;
		padding-left: 8% !important;
	}
}
.clear-bottom {
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
  }
  .copy {
	font-size: 16px;
	color: $color__text-main;
	line-height: 1.6;
	@media screen and (min-width: $tabwidth){
	  font-size: 18px;
	}
	> *:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> *:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	p {
	  margin: 20px 0;
	}
	strong, b, em {
	  font-weight: 800;
	}
	a {
	  text-decoration: none;
	  color: $color__text-main;
	  position: relative;
	  &:hover {
		color: $color__text-main;
		text-decoration: underline;
	  }
	}
	h1, h2, h3 {
	  margin: 0 0 20px 0;
	  color: $color__psa-blue;
	}
	h1 {
	  font-size: 25px;
		@media screen and (min-width: $tabwidth){
			font-size: 35px;
		}
	}
	h2 {
		font-size: 20px;
		@media screen and (min-width: $tabwidth){
			font-size: 25px;
		}
	}
	h3 {
	  font-size: 20px;
	}
	ul, ol {
	  padding: 0;
	  margin: 0 0 20px 40px;
	  font-size: inherit;
	  li {
			margin: 0;
			font-size: inherit;
			padding: 0;
			list-style-type: disc;
			a {
				cursor: pointer;
				&:hover {
				color: $color__text-main;
				}
			}
			ul.sub-menu {
				margin: 0 0 0 40px;
			}
	 	}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}

#masthead {
	>.row-1 {
		background-size: cover;
		background-position: center;
		>.wrapper {
			padding: 10px 0;
			.social {
				text-align: center;
				@media screen and (min-width: $tabwidth){
					text-align: right;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					display: inline-block;
					color: white;
					text-decoration: none;
					margin: 0 12px;
					font-size: 30px;
				}
			}
		}
	}
	>.row-2 {
		>.wrapper {
			.logo {
				margin: 0;
				padding: 20px 0;
				@media screen and (min-width: $tabwidth){
					padding: 3.5% 0;
				}
				a {
					display: block;
					margin: 0 auto;
					width: 100%;
					@media screen and (min-width: $tabwidth){
						width: 40%;
					}
					img {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	>.row-3 {
		background: $color__psa-blue; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, $color__psa-blue , $color__psa-light-blue); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, $color__psa-blue, $color__psa-light-blue); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, $color__psa-blue, $color__psa-light-blue); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, $color__psa-blue, $color__psa-light-blue); /* Standard syntax */
		#site-navigation {
			text-align: center;
			padding: 20px 0 0 0;
			@media screen and (min-width: $tabwidth){
				padding: 0;
			}
			&.toggled {
				>div {
					display: block;
				}
			}
			button {
				display: inline-block;
				margin: 0 0 20px 0;
				box-shadow: none;
				border: none;
				color: $color__psa-blue;
				background-color: white;
				padding: 10px 20px;
				text-transform: uppercase;
				text-align: center;
				text-shadow: none;
				border-radius: 0;
				font-size: 20px;
				@media screen and (min-width: $tabwidth){
					display: none;
				}
			}
			>div {
				display: none;
				@media screen and (min-width: $tabwidth){
					display: block;
				}
				ul {
					margin: 0;
					padding: 0 0 20px 0;
					margin: 0 auto;
					@media screen and (min-width: $tabwidth){
						display: table;
						padding: 0;
					}
					li {
						display: block;
						list-style-type: none;
						@media screen and (min-width: $tabwidth){
							display: table-cell;
							border-right: 1px solid white;
						}
						&:last-child {
							border-right: none;
						}
						a {
							display: block;
							color: white;
							text-decoration: none;
							font-size: 20px;
							text-transform: uppercase;
							padding: 10px 20px;
							@media screen and (min-width: $tabwidth){
								font-size: 25px;
								padding: 18px 30px;
							}
						}
					}
				}
			}
		}
	}
}

#colophon {
	background-color: $color__psa-light-blue;
	padding: 20px 0;
	@media screen and (min-width: $tabwidth){
		padding: 3.5% 0 40px 0;
	}
	>.row-1 {
		>.wrapper {
			padding: 0 0 20px 0;
			@media screen and (min-width: $tabwidth){
				padding: 0 0 3.5% 0;
			}
			.social {
				text-align: center;
				a {
					display: inline-block;
					color: white;
					text-decoration: none;
					margin: 0 12px;
					font-size: 30px;
				}
			}
		}
	}
	>.row-2 {
		>.wrapper {
			padding: 0 0 20px 0;
			@media screen and (min-width: $tabwidth){
				@include flexbox();
				@include flexbox-align-items(flex-start);
				@include flexbox-align-content(stretch);
				@include flexbox-justify(space-between);
				padding: 0 0 5% 0;
			}
			>.col {
				text-align: center;
				margin: 20px 0 0 0;
				@media screen and (min-width: $tabwidth){
					width: 30%;
					margin: 0;
					min-height: 1px;
					text-align: left;
				}
				&:first-child {
					margin: 0;
				}
			}
			>.col-1, >.col-2 {
				header {
					margin: 0 0 10px 0;
					h2 {
						color: white;
						margin: 0;
						font-weight: 500;
						font-size: 30px;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					li{
						display: block;
						list-style-type: none;
						margin: 0 0 5px 0;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							font-family: $font__headings;
							text-decoration: none;
							font-size: 20px;
							color: $color__psa-light-grey;
						}
					}
				}
			}
			>.col-3 {
				header {
					margin: 0 0 10px 0;
					h2 {
						color: white;
						margin: 0;
						font-weight: 500;
						font-size: 30px;
					}
				}
				.copy {
					color: white;
					font-size: 14px;
				}
				a.button {
					margin: 10px 0 0 0;
					padding: 5px 30px;
					font-size: 14px;
					display: inline-block;
				}
			}
		}
	}
	>.row-3 {
		>.wrapper {
			text-align: center;
			font-size: 16px;
			color: white;
			padding: 20px 0 0 0;
		}
	}
}

a.button {
	background: $color__psa-gold; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, $color__psa-gold , $color__psa-light-gold); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $color__psa-gold, $color__psa-light-gold); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $color__psa-gold, $color__psa-light-gold); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $color__psa-gold, $color__psa-light-gold); /* Standard syntax */
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px 50px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	@media screen and (min-width: $tabwidth){
		font-size: 18px;
		padding: 10px 20px;
	}
	@media screen and (min-width: $deskwidth){
		font-size: 28px;
		padding: 10px 50px;
	}
}